body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: grid;
    place-items: center;
    height: 100vh;
}

main {
    width: 90vw;
    height: 90vw;
    /* margin: 5vh 5vw; */
    display: grid;
    grid-template-columns: repeat(2, 1fr) 2fr 2fr repeat(8, 1fr) 2fr 2fr repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr) 2fr 2fr repeat(8, 1fr) 2fr 2fr repeat(2, 1fr);
}
.planet {
    height: 5vmin;
    width: 5vmin;
    margin-top: -2.5vmin;
    border-radius: 50%;
    border: 2px solid #000000;
    background: #ffffff;
    justify-self: center;
}
.orbit {
    border-radius: 50%;
    border: 2px dotted #000000;
}
.neptune {
    grid-row: 1/2;
    grid-column: 1/17;
}
.neptune-orbit {
    grid-row: 1/17;
    grid-column: 1/17;
}
.uranus {
    grid-row: 2/3;
    grid-column: 1/17;
    /* bottom of system */
    /* grid-row: 15/16;
    grid-column: 1/17;
    margin-top: 0;
    margin-bottom: -2.5vmin;
    align-self: end; */
}
.uranus-orbit {
    grid-row: 2/16;
    grid-column: 2/16;
}
.saturn {
    grid-row: 3/4;
    grid-column: 1/17;
}
.saturn-orbit {
    grid-row: 3/15;
    grid-column: 3/15;
}
.jupiter {
    grid-row: 4/5;
    grid-column: 1/17;
    height: 7vmin;
    width: 7vmin;
    margin-top: -3.5vmin;
}
.jupiter-orbit {
    grid-row: 4/14;
    grid-column: 4/14;
}
.mars {
    grid-row: 5/6;
    grid-column: 1/17;
}
.mars-orbit {
    grid-row: 5/13;
    grid-column: 5/13;
}
.earth {
    grid-row: 6/7;
    grid-column: 1/17;
}
.earth-orbit {
    grid-row: 6/12;
    grid-column: 6/12;
}
.venus {
    grid-row: 7/8;
    grid-column: 1/17;
}
.venus-orbit {
    grid-row: 7/11;
    grid-column: 7/11;
}
.mercury {
    grid-row: 8/9;
    grid-column: 1/17;
}
.mercury-orbit {
    grid-row: 8/10;
    grid-column: 8/10;
}
.sun {
    grid-row: 8/10;
    grid-column: 8/10;
    height: 5vmin;
    width: 5vmin;
    border-radius: 50%;
    background: #000000;
    justify-self: center;
    align-self: center;
}
/* increase involvment from volunteers, a tangible representation of their contribuition */